.paragraph--type--icon-text-button-card.paragraph--view-mode--default .coupa-icon {
    font-size: 7rem;
}
.paragraph--type--icon-text-button-card.paragraph--view-mode--default .field--name-field-heading {
    color: #2a4788;
}
.paragraph--type--icon-text-button-card.paragraph--view-mode--default .link-button {
    margin-top: auto;
    padding-top: 1rem;
}
.paragraph--type--display-group-basic>.field--name-field-body-text {
    max-width: 900px;
    margin: 0 auto;
}
.paragraph-type-image .field--name-field-image {
    margin: auto !important;
}
.products-overview-hero {
    background-color: #FFFFFF !important;
    background-image: url(../img/bg-product.jpg) !important;
    background-repeat: no-repeat; !important;
    background-attachment: scroll !important;
    background-position: center top !important;
    z-index: auto;
    background-size: initial !important;
    -webkit-background-size: initial !important;
    -moz-background-size: initial !important;
    -o-background-size: initial !important;
}