.title-desktop {
    height: 600px;
    max-width: 1500px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    background-image: url('../img/animations/Desktop.svg') !important;
    background-repeat: no-repeat;
    background-size: 2380px auto;
    background-position-x: calc(50% + 6rem);
    background-position-y: bottom;
}

.partnership-bg {
    display: flex;
    align-items: flex-start;
    background-color: #FFFFFF !important;
    background: url('../img/animations/product-bg.png') !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    color: #FFFFFF !important;
    height: 600px;
}

.partnership-title {
    font-size: 1rem !important;
    color: #FFFFFF !important;
}

.partnership-title sup {
    font-size: .6rem !important;
}

.partnership-page-title {
    font-size: 2.5rem !important;
    color: #FFFFFF !important;
    line-height: 120% !important;
}

@media(min-width:50em) {
    .partnership-page-title {
        font-size: 3.5rem !important;
    }
}

.partnership-page-sub-title {
    margin-top: 15px;
    color: #FFFFFF !important;

}

.partnership-Overview {
    display: flex;
    margin: 40px 0px;
    align-items: center;
    justify-content: space-between;
}

.partnership-Text {
    width: 50% !important;
}

.partnership-Img {
    width: 40% !important;
    display: flex;
    justify-content: right;
}

.partnership-Text h1 {
    font-size: 3rem !important;
    line-height: 100%;
    position: relative;
    font-weight: 700;
}

.partnership-Text p {
    line-height: 150%;
    text-align: justify;
    padding: 30px 30px 0px 0px;
}

.partnership-Img img {
    width: 80%;
}

@media(min-width:800px) and (max-width:1200px) {
    .partnership-Text {
        width: 60% !important;
    }
}

@media(min-width:1100px) {
    .partnership-Text h1 {
        font-size: 3rem;
        line-height: 100%;
    }
}

@media(min-width:800px) and (max-width:1099px) {
    .partnership-Text h1 {
        font-size: 3rem;
        line-height: 100%;
    }

    .partnership-Text h5 {
        font-size: 1rem;
    }
}

@media(max-width:799px) {
    .partnership-Overview {
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }

    .partnership-Text {
        width: 100% !important;
    }

    .partnership-Img {
        width: 80% !important;
        justify-content: center;
    }

    .partnership-Text h1 {
        font-size: 2.5rem;
        line-height: 100%;
        position: relative;
    }

    .partnership-Text h5 {
        font-size: 1rem;
    }
    ._logo {
        height: 130px !important;
    }
}

@media(max-width:500px){
    ._logo {
        flex: 0 0 calc(50% - 20px) !important;
        height: 110px !important;       
    }
}

.partner-logos {
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0% 5%;
}

._logo {
    flex: 0 0 calc(25% - 10px);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    border: 1px solid #e9ecef;
    box-shadow: 0px 0px 1px 0px #e9ecef;
}

._logo img {
    max-width: 60%;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
    display: inline-block !important;
}

._logo:hover img {
    cursor: pointer;
    filter: grayscale(0%);
}

.partner-images h1 {
    text-align: center;
}



.partner-card.flipping {
    pointer-events: none;
  }
  
  .partner-card-container {
    flex: 0 0 calc(25% - 20px);
    height: 180px;
    position: relative;
    -ms-perspective: 800px;
    perspective: 800px;
    border-radius: 4px;
  }
  .partner-card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
    cursor: pointer;
    transform-origin: center center;
  }
  .partner-card div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    background: #fff;
    display: flex;
    flex-direction: column;
    -o-box-pack: center;
    justify-content: center;
    -o-box-align: center;
    align-items: center;
    font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
  }

  .card-front img{
    max-width: 60% !important;
  }

  .partner-card .card-back {
    transform: rotateY(180deg);
    padding: 25px 15px 15px 15px;
  }
  .partner-card .card-back h4{
    font-weight: 900 !important;
    font-size: 2rem;
  }
  .partner-card .card-back p{
    font-size: 1rem;
    line-height: 120%;
    text-align: justify;
    font-weight: 600;
  }
  .partner-card.flipped {
    transform: rotateY(180deg);
  }