.title-desktop {
    height: 630px;
    max-width: 1500px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    background-image: url('../img/animations/Desktop.svg') !important;
    background-repeat: no-repeat;
    background-size: 2380px auto;
    background-position-x: calc(50% + 6rem);
    background-position-y: bottom;
}

.partnership-bg {
    display: flex;
    align-items: flex-start;
    background-color: #FFFFFF !important;
    background: url('../img/animations/partner-bg.png') !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    z-index: auto;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    color: #FFFFFF !important;
    height: 630px;
}

.partnership-title {
    font-size: 1rem !important;
    color: #FFFFFF !important;
}

.partnership-title sup {
    font-size: .6rem !important;
}

.partnership-page-title {
    font-size: 2.5rem !important;
    color: #FFFFFF !important;
    line-height: 120% !important;
}

@media(min-width:50em) {
    .partnership-page-title {
        font-size: 3.5rem !important;
    }
}

.partnership-page-sub-title {
    margin-top: 15px;
    color: #FFFFFF !important;

}

.partnership-Overview {
    display: flex;
    margin: 40px 0px;
    align-items: center;
    justify-content: space-between;
}

.partnership-Text {
    width: 50% !important;
}

.partnership-Img {
    width: 40% !important;
    display: flex;
    justify-content: right;
}

.partnership-Text h1 {
    font-size: 3rem !important;
    line-height: 100%;
    position: relative;
    font-weight: 700;
}

.partnership-Text p {
    line-height: 150%;
    text-align: justify;
    padding: 30px 30px 0px 0px;
}

.partnership-Img img {
    width: 80%;
}

@media(min-width:800px) and (max-width:1200px) {
    .partnership-Text {
        width: 60% !important;
    }
}

@media(min-width:1100px) {
    .partnership-Text h1 {
        font-size: 3rem;
        line-height: 100%;
    }
}

@media(min-width:800px) and (max-width:1099px) {
    .partnership-Text h1 {
        font-size: 3rem;
        line-height: 100%;
    }

    .partnership-Text h5 {
        font-size: 1rem;
    }
}

@media(max-width:799px) {
    .partnership-Overview {
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }

    .partnership-Text {
        width: 100% !important;
    }

    .partnership-Img {
        width: 80% !important;
        justify-content: center;
    }

    .partnership-Text h1 {
        font-size: 2.5rem;
        line-height: 100%;
        position: relative;
    }

    .partnership-Text h5 {
        font-size: 1rem;
    }
    ._logo {
        height: 130px !important;
    }
}

@media(max-width:500px){
    ._logo {
        flex: 0 0 calc(50% - 20px) !important;
        height: 110px !important;       
    }
}


.partner-images h1 {
    text-align: center;
}

.new-card{
    width: 30%;
    min-width: 30%;
    margin: 0px auto 30px auto;
    border: transparent;
    box-shadow: 0px 0px 5px 0px grey;
    border-radius: 10px;
    overflow: hidden;
}

.head-ribbon{
    height: 120px;
    background-color:#1E70C1;
}
.round-logo{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin: 0px auto;
    margin-top: -80px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-blend-mode: normal;
}

.new-card-heading{
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
    padding: 0px 10px;
}

.new-card-description{
    font-size: 1.1rem;
    padding: 20px;
    line-height: 120%;
    text-align: left;
    font-weight: 400;
}

.new-cards-row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media(max-width:800px){
    .new-card{
        min-width: 45%;
        width: 45%;
    }
}

@media(max-width:520px){
    .new-card{
        min-width: 80%;
        width: 80%;
    }
}

.jvectormap-tip {
    position: absolute;
    display: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #000000;
    color: #ffffff;
    font-size: .75rem;
    padding: 0px 12px;
}

.supplychain-map-container, #world-map-markers, .jvectormap-container{
    height: 400px;
}

@media(max-width:668px){
    .supplychain-map-container, #world-map-markers, .jvectormap-container{
        height: 300px;
    }
}

.jvectormap-zoomin:hover, .jvectormap-zoomout:hover{
    cursor: pointer;
}